nav { 
  
  background-color: hotpink;
  font-style: italic;
  text-align: center;
  
}
footer {
  text-align: center;
}

#email {
  width: 250px;
}

#comments {
  width: 250px;
}

#owner {
  width: 300px;
  height: 300px;
}

a:link {
  color: green;
}
img {
  height: auto;
  max-width: 100%;
}
#header {
  height: 200px;
  width: 1500px;
}