nav { 
  
  background-color: hotpink;
  font-style: italic;
  text-align: center;
  
}
h2 {
  text-align: center;
}
footer {
  text-align: center;
}
img {
  height: auto;
  max-width: auto;
}
#header {
  height: 200px;
  width: 1500px;
}
 
 #form {
  width:100%;
}
#message {
  width:100%;
}
#password {
  width:100%;
}
#un {
  width:100%;
}
#pw {
  width:100%;
}