body
{
  background-color: ;
}
table
{
  border-style: solid;
  border-color: grey;
}
h2
{

  font-style: italic;
  padding: 50px;
  background-color: hotpink;
}

nav { margin: 25px;
  padding: 10px;
  background-color: hotpink;
  font-style: italic;
  
  
}


footer {
  text-align: center;
}


.italic {
  font-style: italic;
}

.bold
{font-weight: bold}

h2:hover{
        color:white;
        }
